:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px; /*Con esto establecemos que el tamaño de un rem sera igual a 10 pixeles*/
    font-family:'Open Sans';
}

.Presentacion{
    font-weight:500;
    text-align: center; 
    font-size: 3.8rem;
    color: var(--primario);
}

.Presentacion span{
    font-size: 2rem;
    color: var(--primario);
}

.Contenedor{
    width: 100rem;
    margin: 0 auto;
}

.nav-bg{
    background-color:var(--secundario);
}

.Menu-Navegacion{
    background-color: var(--secundario);
}



